body{
	background-image: url("IMAGENES LIBERTADORES SOLO/imagen.jpg");
	background-repeat: no-repeat;background-position: center;background-size:100%;

}

h2{font-family: "Montserrat" sans-serif;
	color: #fff;
}